<h2 class="content-block">Approved Requests History</h2>

<dx-data-grid
  class="dx-card wide-card"
  [dataSource]="dataSource"
  [showBorders]="true"
  [focusedRowEnabled]="true"
  [focusedRowIndex]="0"
  [columnAutoWidth]="true"
  [columnHidingEnabled]="false">

  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
  <dxo-filter-row [visible]="true"></dxo-filter-row>

  <dxi-column
    dataField="Id"
    [width]="90"
    caption="Form ID"
    [hidingPriority]="2">
  </dxi-column>
  <dxi-column
    dataField="Purpose"
    [width]="190"
    caption="Purpose"
    [hidingPriority]="8">
  </dxi-column>
  <dxi-column
    dataField="OverallStatus"
    caption="Status"
    [hidingPriority]="6">
    <dxo-lookup
      [dataSource]="statusOptions"
      valueExpr="value"
      displayExpr="name">
    </dxo-lookup>
  </dxi-column>
  <dxi-column
    dataField="RequestCheckedStatus"
    caption="Request Status"
    [hidingPriority]="5">
    <dxo-lookup
      [dataSource]="statusOptions"
      valueExpr="value"
      displayExpr="name">
    </dxo-lookup>
  </dxi-column>
  <dxi-column
    dataField="ApplicantName"
    caption="Applicant"
    [allowSorting]="false"
    [hidingPriority]="7">
  </dxi-column>
  <dxi-column
    dataField="CreatedAt"
    caption="Created Date"
    dataType="date"
    format="yyyy-MM-dd"
    [hidingPriority]="3">
  </dxi-column>
  <dxi-column
    dataField="FormDate"
    caption="Form Date"
    dataType="date"
    [hidingPriority]="4">
  </dxi-column>
  <dxi-column
    dataField="Department"
    caption="Department"
    [hidingPriority]="1">
  </dxi-column>
  <dxi-column
    dataField="ITApprovedBy"
    caption="Approved By"
    [hidingPriority]="0">
  </dxi-column>
</dx-data-grid>