@import "../../../../themes/generated/variables.base.scss";


.login-form {
  max-width: 800px;
  .link {
    text-align: center;
    font-size: 16px;
    font-style: normal;

    a {
      text-decoration: none;
    }
  }

  ::ng-deep .form-text {
    margin: 10px 0;
    color: rgba($base-text-color, alpha($base-text-color) * 0.7);
  }
}

// .login-form {
//   max-width: 800px;
//   margin: 50px auto;
//   padding: 20px;
//   background: #f5f5f5;
//   border-radius: 8px;
// }

// .link {
//   text-align: center;
//   margin: 10px 0;
// }

// .dx-button-text {
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// .form-text {
//   font-size: 14px;
// }