<div class="container mx-auto p-6 max-w-6xl" style="overflow-y: auto; max-height: 80vh; border: 2px solid #1E40AF; border-radius: 8px; background-color: #E0E7FF; max-width: fit-content;">
  <h5 class="text-2xl font-bold text-center text-blue-900 mb-2">Application for Create, Change and Delete E-mail/User AD</h5>
  <hr class="border-blue-900 mb-4">

  <form [formGroup]="emailForm" (ngSubmit)="onSubmit()" class="bg-white p-6 rounded-lg shadow-md">
    <!-- Top Section -->
    <div class="grid grid-cols-1 gap-4 mb-4">
      <div class="col-span-4 flex flex-col" style="">
        <p style="text-align: center;"> <span style="font-weight: bold; font-size: 14px;">Noted:</span> If you have requests for "New registration" "Change" and "Deletion"</p>
        <p style="text-align: center;">Please use one sheet or each </p>
      </div>

      <div>
        <label for="date">Current Date:</label>
        <input id="date" type="date" formControlName="date" />
      </div>  
      <div>
        <label class="font-semibold mb-1">Department:&nbsp;</label>
        <input type="text" formControlName="department" class="border rounded p-1">
      </div>
      <div>
        <label class="font-semibold mb-1">Name:&nbsp;</label>
        <input type="text" formControlName="applicantName" class="border rounded p-1">
      </div>
      <div>
        <label class="font-semibold mb-1">Phone:&nbsp;</label>
        <input type="text" formControlName="applicantPhone" class="border rounded p-1">
      </div>
      <div>
        <label class="font-semibold mb-1">Revised:&nbsp;</label>
        <input type="text" formControlName="revised" class="border rounded p-1">
      </div>
    </div>

    <!-- Table Section -->
    <div class="overflow-x-auto mb-4">
      <table class="min-w-full border text-xs">
        <thead>
          <tr class="bg-gray-100">
            <th class="border px-2 py-1">Classification:</th>
            <th class="border px-2 py-1">User&nbsp;Email</th>
            <th class="border px-2 py-1">User&nbsp;AD</th>
            <th class="border px-2 py-1">ID</th>
            <th class="border px-2 py-1">Sex</th>
            <th class="border px-2 py-1">First Name</th>
            <th class="border px-2 py-1">Family Name</th>
            <th class="border px-2 py-1">Section</th>
            <th class="border px-2 py-1">Position</th>
            <th class="border px-2 py-1">Before Change</th>
            <th class="border px-2 py-1">After Change</th>

          </tr>
        </thead>
        <!-- Table input -->
        <tbody formArrayName="users" >
          <tr *ngFor="let user of users.controls; let i = index" [formGroupName]="i">

            <td class="border px-2 py-1">
              <select formControlName="classification" class="w-full border rounded p-1">
                <option value="Email">New registration</option>
                <option value="Delete">Deletion</option>
                <option value="Change">Change</option>
              </select>
            </td>
            <td class="border px-2 py-1" style="text-align: center;"><input type="checkbox" formControlName="isEmail"></td>
            <td class="border px-2 py-1" style="text-align: center;"><input type="checkbox" formControlName="isADUser"></td>
            <td class="border px-2 py-1"><input formControlName="id" class="w-full border rounded p-1"></td>
            <td class="border px-2 py-1">
              <select formControlName="sex" class="w-full border rounded p-1">
                <option value="M">Male</option>
                <option value="F">Female</option>
              </select>
            </td>
            <td class="border px-2 py-1"><input formControlName="firstName" class="w-full border rounded p-1"></td>
            <td class="border px-2 py-1"><input formControlName="familyName" class="w-full border rounded p-1"></td>
            <td class="border px-2 py-1"><input formControlName="section" class="w-full border rounded p-1"></td>
            <td class="border px-2 py-1"><input formControlName="position" class="w-full border rounded p-1"></td>
            <td class="border px-2 py-1"><input formControlName="beforeChange" class="w-full border rounded p-1"></td>
            <td class="border px-2 py-1"><input formControlName="afterChange" class="w-full border rounded p-1"></td>
     
          </tr>
        </tbody>
        <!-- if classification is select on change, show before and after as a label before User ID change as a two input column -->

      </table>
      <button type="button" class="bg-green-500 text-white px-4 py-2 rounded" (click)="addUserRow()">Add Row</button>
      <button type="button" class="bg-red-500 text-white px-4 py-2 rounded col-span-2" (click)="deleteUserRow()">Delete Row</button>
 
      
    </div>
    <!-- Request Section -->
    <div class="grid grid-cols-4 gap-4 mb-4">
        <label class="block text-red-900 font-semibold mb-2">Request Section</label>
    </div>
    <div class="grid grid-cols-4 gap-4 mb-4">
      <div>
        <label class="block text-blue-900 font-semibold mb-2">Prepared by</label>
        <input formControlName="preparedBy" type="text" class="w-full p-2 border rounded">
      </div>
      <div>
        <label class="block text-blue-900 font-semibold mb-2">Checked by</label>
        <input formControlName="checkedBy" type="text" class="w-full p-2 border rounded">
      </div>
    </div>

    <!-- IT Section --> 
    <div class="grid grid-cols-4 gap-4 mb-4">
      <label class="block text-red-900 font-semibold mb-2">IT Section</label>
    </div>
    <div class="grid grid-cols-4 gap-4 mb-4">
      <div>
        <label class="block text-blue-900 font-semibold mb-2">Prepared by</label>
        <input placeholder="Mr.A" value="Mr.A" formControlName="ITpreparedBy" type="text" class="w-full p-2 border rounded">
      </div>
      <div>
        <label class="block text-blue-900 font-semibold mb-2">Checked by</label>
        <input placeholder="MR.B" value="Mr.B" formControlName="ITcheckBy" type="text" class="w-full p-2 border rounded">
      </div>
      <div>
        <label class="block text-blue-900 font-semibold mb-2">Verified by</label>
        <input placeholder="Mr.C" value="Mr.C" formControlName="ITverifiedBy" type="text" class="w-full p-2 border rounded">
      </div>
      <div>
        <label class="block text-blue-900 font-semibold mb-2">Approved by</label>
        <input placeholder="Mr.D" value="Mr.D" formControlName="ITapprovedBy" type="text" class="w-full p-2 border rounded">
      </div>
    </div>


    <!-- Purpose of Application -->
    <div class="mb-4">
      <label class="block text-blue-900 font-semibold mb-2">Purpose of Application</label>
      <textarea formControlName="purpose" rows="2" class="w-full p-2 border rounded"></textarea>
    </div>

    <div class="text-center">
      <button type="submit" [disabled]="emailForm.invalid" class="bg-green-500 text-white px-4 py-2 rounded">Submit Form</button>
    </div>
  </form>
</div>